$text-color:rgb(12, 12, 11);
$light-grey: rgb(247, 244, 244);
$white: #FFF;
$green: #0e4928;
$blue: rgb(27, 77, 170);
$red: #ce0a0b;
$pink: rgb(185, 172, 174);
$brown: brown;
$black-transparent: rgba(0,0,0,0.6);
$grey: rgb(93, 118, 146);
$light-green:#1DB954;
$dark: #000;
$blueheader: #284DB8;
