/********** COULEURS **********/

$white: #fff;
$dark: #000;
$green: #52ff33;
$red: #ff4a4a;
$primary: #4acbff;
$gray: #303030;

$green-alert-background: #d4edda;
$green-alert-text: #155724;
$green-alert-border: #c3e6cb;

$red-alert-background: #f8d7da;
$red-alert-text: #721c24;
$red-alert-border: #f5c6cb;

$info-alert-background: #cce5ff;
$info-alert-text: #004085;
$info-alert-border: #b8daff;

/********** GRILLE **********/

$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
