.alert {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    &--success{
        color: $green-alert-text;
        background-color: $green-alert-background;
        border-color: $green-alert-border;
    }
    &--danger{
        color: $red-alert-text;
        background-color: $red-alert-background;
        border-color: $red-alert-border;    
    }
    &--primary{
        color: $primary-alert-text;
        background-color: $primary-alert-background;
        border-color: $primary-alert-border;    
    }
}